NEXTAUTH_SECRET=APP_SECRET

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
DATABASE_DB=nextjs_saas
DATABASE_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Auth
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
FACEBOOK_CLIENT_ID=FACEBOOK_CLIENT_ID
FACEBOOK_CLIENT_SECRET=FACEBOOK_CLIENT_SECRET
GITHUB_ID=GITHUB_ID
GITHUB_SECRET=GITHUB_SECRET
